<div class="container" style="">
<div class="row">
<div class="col-md-3" style="">
</div>
<div class="col-md-9">
        <header>
  <!-- Navbar -->
 
   <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light " style="position:fixed; width:70%;background:#ffffff;z-index:999;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu"  role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a  class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">


      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" >
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a  class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="assets/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="assets/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="assets/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" >
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen"  role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true"  role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Navbar -->

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image rounded"
    style="
      background-image: url('assets/images/bg.jpg');
      height: 300px;
    "
  >
    <div class="mask" >
      <div class="">
        <div class="pt-5 mt-5" style="">
            <img class="rounded-circle z-depth-2" alt="80x80" width="180px" height="180px"  src="assets/images/bg.jpg"
          data-holder-rendered="true">
          
           </div>
      </div>
    </div>
  </div>
  <div class="bg-white shadow-lg rounded-bottom" style="width:100%;height:5rem;padding:1rem;">
  <span class="text-primary" style="font-size:20px;font-weight:bold">Nom de l'entreprise</span><br>
  <span>@identifiant</span>
  </div>
  
  <!-- Background image -->
</header>

            <div class="home-form-position">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="home-registration-form p-4 mb-3">
                                    <form [formGroup]="searchForm" class="registration-form">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-briefcase"></i>
                                                    <input type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Entreprise, activité, produit...">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-location-arrow"></i>
                                                    <select id="select-country" class="form-control rounded registration-input-box">
                                                        <option value="">Douala</option>
                                                        <option value="AF">Yaoundé</option>
                                                        <option value="AX">Bafoussam</option>
                                                        <option value="AL">Maroua</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-list-alt"></i>
                                                    <select id="select-category" class="form-control rounded registration-input-box">
                                                        <option value="">Categories...</option>
                                                        <option value="4">Comptabilité</option>
                                                        <option value="1">TIC</option>
                                                        <option value="3">Marketing</option>
                                                        <option value="5">Banque</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                <button type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block">
                                                        <i class="fa fa-search"></i> Rechercher
                                                 </button>
                                                
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
</div>

<div class="row">


    <div class="col-lg-3 shadow-lg p-3  bg-white rounded maclasse" >
                    <div class="left-sidebar">
                        <div class="ml-5"> <img src="assets/images/logoAfriboss-light.png" alt="" class="logo-light" height="60" /></div>
                        <div class="accordion" id="accordionExample">
                            <div class="card rounded mt-4 shadow-lg">
                                <a data-toggle="collapse" href="#collapseOne" class="job-list collapsed" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="card-header bg-primary text-white" id="headingOne">
                                        <h6 class="mb-0  f-18"><i class="fa fa-id-card"></i> Menu entreprise</h6>
                                
                                    </div>
                                </a>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                    <div class="card-body p-0">
                                        <div class="custom-control ">
                                            <a routerLink="/pages/entreprise/{{id}}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-home"></i> fil d'actualité</a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="about" routerLinkActive="active-link"><i class="fas fa-id-card"></i>   A propos</a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="products" routerLinkActive="active-link"><i class="fas fa-shopping-cart"></i>  Produits</a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="blog" routerLinkActive="active-link"><i class="fas fa-comment"></i>  Blog</a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="events" routerLinkActive="active-link"><i class="fas fa-calendar"></i>  Evenements</a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="jobs" routerLinkActive="active-link"><i class="fas fa-user-plus"></i>  Recrutements</a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="team" routerLinkActive="active-link"><i class="fas fa-users"></i>  Equipe</a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="galerie" routerLinkActive="active-link"><i class="fas fa-image"></i>  Galerie</a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="contact" routerLinkActive="active-link"><i class="fas fa-envelope"></i>  Contact</a>
                                        </div>

                                       
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                            <div class="card rounded mt-4 shadow-lg">
                                <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="false" aria-controls="collapsetwo">
                                    <div class="card-header bg-primary text-white" id="headingtwo">
                                        <h6 class="mb-0 f-18"><i class="fa fa-edit"></i> Outils de publications</h6>
                                    </div>
                                </a>
                                <div id="collapsetwo" class="collapse " aria-labelledby="headingtwo">
                                    <div class="card-body p-0">
                                       <div class="custom-control custom-radio">
                                            
                                            <a (click)="openModal(template)"><i class="fa fa-plus-circle"></i>  Créer une publication</a>
                                        </div>
                                       <div class="custom-control custom-radio">
                                            
                                            <a routerLink="new-article" routerLinkActive="active-link"><i class="fa fa-edit"></i>  Ecrire un article</a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="newimage" routerLinkActive="active-link"><i class="fa fa-plus-circle"></i>  Nouvelle photo /video </a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="newjob" routerLinkActive="active-link"><i class="fas fa-plus-circle"></i>  Nouveau recrutement</a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="newalbum" routerLinkActive="active-link"><i class="fas fa-plus-circle"></i>  Créer un album</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                            <div class="card rounded mt-4 shadow-lg">
                                <a data-toggle="collapse" href="#collapsethree" class="job-list" aria-expanded="false" aria-controls="collapsethree">
                                    <div class="card-header bg-primary text-white" id="headingthree">
                                        <h6 class="mb-0  f-18"> <i class="fa fa-shopping-cart"></i> Gestion des produits</h6>
                                    </div>
                                </a>
                                <div id="collapsethree" class="collapse " aria-labelledby="headingthree">
                                    <div class="card-body p-0">
                                         <div class="custom-control custom-radio">
                                            
                                            <a routerLink="newproduit" routerLinkActive="active-link"><i class="fas fa-plus-circle"></i> Ajouter des produits</a>
                                        </div>

                                       <div class="custom-control custom-radio">
                                            
                                            <a routerLink="categorieproduit" routerLinkActive="active-link"><i class="fa fa-address-book"></i> Catégories de produits</a>
                                        </div>
                                       <div class="custom-control custom-radio">
                                            
                                            <a routerLink="commande" routerLinkActive="active-link"><i class="fa fa-shopping-bag"></i> Mes commandes</a>
                                        </div>
                                       <div class="custom-control custom-radio">
                                            
                                            <a routerLink="devis" routerLinkActive="active-link"><i class="fa fa-money-check-alt"></i> Demandes de devis</a>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                            
                            <div class="card rounded mt-4 shadow-lg">
                                <a data-toggle="collapse" href="#collapsefour" class="job-list" aria-expanded="true" aria-controls="collapsefour">
                                    <div class="card-header bg-primary text-white" id="headingfour">
                                        <h6 class="mb-0  f-18"><i class="fa fa-bell"></i> Evenements et annonces</h6>
                                    </div>
                                </a>
                                <div id="collapsefour" class="collapse " aria-labelledby="headingfour">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="devis" routerLinkActive="active-link"><i class="fa fa-calendar"></i> Pannifier un évenement</a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="devis" routerLinkActive="active-link"><i class="fa fa-bell"></i> Publier une annonce</a>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->

                            <div class="card rounded mt-4 shadow-lg">
                                <a data-toggle="collapse" href="#collapsefive" class="job-list collapsed" aria-expanded="false" aria-controls="collapsefive">
                                    <div class="card-header bg-primary text-white" id="headingfive">
                                        <h6 class="mb-0  f-18"><i class="fa fa-bullhorn"></i> Publicités</h6>
                                    </div>
                                </a>
                                <div id="collapsefive" class="collapse" aria-labelledby="headingfive">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="devis" routerLinkActive="active-link"><i class="fa fa-plus-circle"></i> Créer une publicité</a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="devis" routerLinkActive="active-link"><i class="fa fa-bullhorn"></i> mes publicités</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->

                            <div class="card rounded mt-4 shadow-lg">
                                <a data-toggle="collapse" href="#collapsesix" class="job-list collapsed" aria-expanded="false" aria-controls="collapsesix">
                                    <div class="card-header bg-primary text-white" id="headingsix">
                                        <h6 class="mb-0  f-18"><i class="fa fa-user"></i> Gestion du profil</h6>
                                    </div>
                                </a>
                                <div id="collapsesix" class="collapse" aria-labelledby="headingsix">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="profil" routerLinkActive="active-link"><i class="fa fa-edit"></i>  Profil </a>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="edit-about" routerLinkActive="active-link"><i class="fa fa-edit"></i>  A propos </a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="edit-contact" routerLinkActive="active-link"><i class="fas fa-edit"></i>  Contact</a>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            
                                            <a routerLink="edit-team" routerLinkActive="active-link"><i class="fas fa-edit"></i>  Equipe</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                </div>
                <div class="section col-md-9">
               
                    <router-outlet></router-outlet>
                
                    <div class="card col-3 shadow" style="position:fixed;bottom:0;right:1rem">
                        <div class="card-header">
                           

                            <div class="card-tools">
                            <span class="badge badge-danger">8 New Members</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <ul class="users-list clearfix">
                            <li>
                                <img src="assets/dist/img/user1-128x128.jpg" alt="User Image">
                                <a class="users-list-name" >Alexander Pierce</a>
                                <span class="users-list-date">Today</span>
                            </li>
                            <li>
                                <img src="assets/dist/img/user8-128x128.jpg" alt="User Image">
                                <a class="users-list-name" >Norman</a>
                                <span class="users-list-date">Yesterday</span>
                            </li>
                            <li>
                                <img src="assets/dist/img/user7-128x128.jpg" alt="User Image">
                                <a class="users-list-name" >Jane</a>
                                <span class="users-list-date">12 Jan</span>
                            </li>
                            <li>
                                <img src="assets/dist/img/user6-128x128.jpg" alt="User Image">
                                <a class="users-list-name" >John</a>
                                <span class="users-list-date">12 Jan</span>
                            </li>
                            <li>
                                <img src="assets/dist/img/user2-160x160.jpg" alt="User Image">
                                <a class="users-list-name" >Alexander</a>
                                <span class="users-list-date">13 Jan</span>
                            </li>
                            <li>
                                <img src="assets/dist/img/user5-128x128.jpg" alt="User Image">
                                <a class="users-list-name" >Sarah</a>
                                <span class="users-list-date">14 Jan</span>
                            </li>
                            <li>
                                <img src="assets/dist/img/user4-128x128.jpg" alt="User Image">
                                <a class="users-list-name" >Nora</a>
                                <span class="users-list-date">15 Jan</span>
                            </li>
                            <li>
                                <img src="assets/dist/img/user3-128x128.jpg" alt="User Image">
                                <a class="users-list-name" >Nadia</a>
                                <span class="users-list-date">15 Jan</span>
                            </li>
                            </ul>
                            <!-- /.users-list -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            <a href="javascript:">Voir la liste des profils</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>

                    <div style="position:fixed;bottom:0;right:15rem;z-index:9999" class="card card-primary shadow-lg col-3 card-outline direct-chat direct-chat-primary" ngxModalDraggable>
                    <div class="card-header ">
                       <div class="card-tools">
                        <span title="3 New Messages" class="badge bg-primary">3</span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                            <i class="fas fa-comments"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">Alexander Pierce</span>
                            <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                            </div>
                            <!-- /.direct-chat-infos -->
                            <img class="direct-chat-img" src="assets/dist/img/user1-128x128.jpg" alt="Message User Image">
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                            Is this template really for free? That's unbelievable!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->

                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-right">Sarah Bullock</span>
                            <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                            </div>
                            <!-- /.direct-chat-infos -->
                            <img class="direct-chat-img" src="assets/dist/img/user3-128x128.jpg" alt="Message User Image">
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                            You better believe it!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                        </div>
                        <!--/.direct-chat-messages-->

                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                            <a >
                                <img class="contacts-list-img" src="assets/dist/img/user1-128x128.jpg" alt="User Avatar">

                                <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Count Dracula
                                    <small class="contacts-list-date float-right">2/28/2015</small>
                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                                </div>
                                <!-- /.contacts-list-info -->
                            </a>
                            </li>
                            <!-- End Contact Item -->
                        </ul>
                        <!-- /.contatcts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <form formGroup=[chatForm]>
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-append">
                            <button type="submit" class="btn btn-primary">Send</button>
                            </span>
                        </div>
                        </form>
                    </div>
              <!-- /.card-footer-->
            </div>
                    
               
                    
                </div>
               
                 <ng-template #modalEmoji>
                    
                    <div class="modal-body" ngxModalDraggable>
                     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                        
                                        <emoji-mart
                                        set="facebook"
                                        color="#0062cc"
                                        useButton=true
                                        title="Choisissez votre emoji"
                                        emoji="point_up" (emojiSelect)="addEmoji($event)"
                                        [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
                                        ></emoji-mart>
                    </div>                
                </ng-template>
                <ng-template #template>
                    <div class="modal-header bg-primary text-white" ngxModalDraggable>
                        <h6 class="modal-title pull-center"><i class="fa fa-comments"></i>  Créer une publication</h6>
                        
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <img src="assets/images/bg.jpg"  style="border:2px solid #ffffff" width="50px" height="55px" class="rounded-circle shadow-sm" alt="Cinque Terre">
                            <span class="f-20 text-primary">  Nom de l'entreprise</span>
                        </div>
                        <div class="float-right f-20"> <a (click)="openModalEmoji(modalEmoji)" ><i 
                            class="fas fa-grin-alt"></i></a>
                        
                        </div>
                                <form [formGroup]="emojiForm">
                                    <textarea class="form-control" #input   formControlName="inputField" (keydown.enter)="send()" rows="4" id="my-textarea" style="border:none" placeholder="entrez votre texte ici"></textarea>  
                                </form>
                                
                            <div class="row">
                                        <div class="col-6">
                                            <ngx-dropzone (change)="onSelect($event)" style="width:100%" accept="image/jpeg,image/jpg,image/png,image/gif">
                                                <ngx-dropzone-label><span class="my-5"><i class="fa fa-image"></i>  photos </span></ngx-dropzone-label>
                                            
                                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"  [removable]="true" (removed)="onRemove(f)">
                                                
                                                      
                                                        </ngx-dropzone-image-preview>
                                        
                                            </ngx-dropzone>
                                        </div>
                                        <div class="col-6">
                                            <ngx-dropzone (change)="onSelectVideo($event)" style="width:100%" accept="video/mp4">
                                                <ngx-dropzone-label style="width:100%"><span class="ml-5" ><i class="fas fa-film" ></i>  videos</span></ngx-dropzone-label>
                                            
                                                <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let v of filesFideo" [file]="v"  [removable]="true" (removed)="onRemoveVideo(v)">
                                                
                                                      
                                                </ngx-dropzone-video-preview>

                                            </ngx-dropzone>
                                        </div>
                                    
                                </div>
                        </div>
                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="width:100%" ><i class="fas fa-globe"></i>  Publier</button>
                    </div>
                </ng-template>
            </div>




            



      
            
