   
   <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line text-primary"> Notre Equipe</h4>
                          </div>
                </div>
            </div>
   <div class="candidates-listing-item">
                        <div class="border mt-4 rounded p-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="float-left mr-4">
                                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
                                    </div>
                                    <div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
                                        <h5 class="mb-2"><a href="#" class="text-dark">Mary Mainor</a></h5>
                                        <ul class="list-unstyled">
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i>Web Developer</li>
                                            <li class="text-muted"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i>Scenic Way Atlanta.</a></li>
                                            <li class="text-muted"><i class="mdi mdi-currency-usd mr-1"></i>$700 - $900/month</li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Skills : HTML, CSS, JavaScript, Wordpress, PHP, jQueary.</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">
                                        <div class="fav-icon">
                                            <i class="mdi mdi-heart"></i>
                                        </div>
                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary-outline btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="border mt-4 rounded p-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="float-left mr-4">
                                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
                                    </div>
                                    <div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
                                        <h5 class="mb-2"><a href="#" class="text-dark">Jack Hallock</a></h5>
                                        <ul class="list-unstyled">
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i>Web Developer</li>
                                            <li class="text-muted"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i>Scenic Way Atlanta.</a></li>
                                            <li class="text-muted"><i class="mdi mdi-currency-usd mr-1"></i>$700 - $900/month</li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Skills : HTML, CSS, JavaScript, Wordpress, PHP, jQueary.</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">
                                        <div class="fav-icon">
                                            <i class="mdi mdi-heart"></i>
                                        </div>
                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary-outline btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="border mt-4 rounded p-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="float-left mr-4">
                                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
                                    </div>
                                    <div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
                                        <h5 class="mb-2"><a href="#" class="text-dark">Rodney Wells</a></h5>
                                        <ul class="list-unstyled">
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i>Web Developer</li>
                                            <li class="text-muted"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i>Scenic Way Atlanta.</a></li>
                                            <li class="text-muted"><i class="mdi mdi-currency-usd mr-1"></i>$700 - $900/month</li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Skills : HTML, CSS, JavaScript, Wordpress, PHP, jQueary.</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">
                                        <div class="fav-icon">
                                            <i class="mdi mdi-heart"></i>
                                        </div>
                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary-outline btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="border mt-4 rounded p-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="float-left mr-4">
                                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
                                    </div>
                                    <div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
                                        <h5 class="mb-2"><a href="#" class="text-dark">Ruth Miles</a></h5>
                                        <ul class="list-unstyled">
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i>Web Developer</li>
                                            <li class="text-muted"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i>Scenic Way Atlanta.</a></li>
                                            <li class="text-muted"><i class="mdi mdi-currency-usd mr-1"></i>$700 - $900/month</li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Skills : HTML, CSS, JavaScript, Wordpress, PHP, jQueary.</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">
                                        <div class="fav-icon">
                                            <i class="mdi mdi-heart"></i>
                                        </div>
                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary-outline btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="border mt-4 rounded p-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="float-left mr-4">
                                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
                                    </div>
                                    <div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
                                        <h5 class="mb-2"><a href="#" class="text-dark">Frank Tower</a></h5>
                                        <ul class="list-unstyled">
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i>Web Developer</li>
                                            <li class="text-muted"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i>Scenic Way Atlanta.</a></li>
                                            <li class="text-muted"><i class="mdi mdi-currency-usd mr-1"></i>$700 - $900/month</li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Skills : HTML, CSS, JavaScript, Wordpress, PHP, jQueary.</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">
                                        <div class="fav-icon">
                                            <i class="mdi mdi-heart"></i>
                                        </div>
                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary-outline btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="border mt-4 rounded p-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="float-left mr-4">
                                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
                                    </div>
                                    <div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
                                        <h5 class="mb-2"><a href="#" class="text-dark">Jerry Real</a></h5>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item mr-4">
                                                <p class="text-muted mb-0"><i class="mdi mdi-account mr-1"></i>PHP Developer</p>
                                            </li>

                                            <li class="list-inline-item mr-4">
                                                <p class="mb-0"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i> Werninger Houston</a></p>
                                            </li>

                                            <li class="list-inline-item">
                                                <p class="text-muted mb-0"><i class="mdi mdi-currency-usd mr-1"></i>$800 - $950/month</p>
                                            </li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Skills : HTML, CSS, JavaScript, Wordpress, PHP, jQueary.</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">
                                        <div class="fav-icon">
                                            <i class="mdi mdi-heart"></i>
                                        </div>
                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary-outline btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                  

                  